*

!.gitignore
!networkmanager_auto/PKGBUILD
!sxiv-large/PKGBUILD
!sxiv-large/myconfig.def.h
!polybar-correct-time/PKGBUILD
!polybar-correct-time/polybar.install
!polybar-correct-time/correct-time.patch
!query_github.sh
!release.json
!release_to_github.sh
!check_for_new_versions.sh
!show_diff.sh
!README.md

