*

!.gitignore
!networkmanager_auto/PKGBUILD.patch
!sxiv-large/PKGBUILD.patch
!sxiv-large/myconfig.def.h
!polybar-correct-time/PKGBUILD.patch
!polybar-correct-time/correct-time.patch
!query_github.sh
!release.json
!release_to_github.sh
!check_for_new_versions.sh
!README.md
!build_all_and_release.sh
!packages.txt
